<li class="row">
  <div class="col-sm-3">
    <%= image_tag video.video.url(:thumb) %>
  </div>

  <div class="col-sm-9">
    <h4>
      <%= link_to link_to "#{video.title}", video %> 
    </h4>
    
    <p>
      <%= video.description %> 
    </p>
  </div>
</li>
