<h1>Listing Videos</h1>
<div class="row">
  <a href="<%= new_video_path %>">New video</a>
</div>

<div class="row">
  <ul class="list-unstyled book-list">

        <%= render @videos %>

  </ul>
</div>